@import './normalize.css';

:root {
    --theme-color-black: #000;
    --theme-color-white: #fff;
    --theme-hover-black: #3d3d3d;
    --theme-hover-gray: #cdcdcd;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    outline: none;
}